<p id="notice"><%= notice %></p>

<h1>Profesors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Grado academido</th>
      <th>Titulo</th>
      <th>Fecha contrato</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesors.each do |profesor| %>
      <tr>
        <td><%= profesor.usuario.nombre %></td>
        <td><%= profesor.usuario.apellido %></td>
        <td><%= profesor.grado_academido %></td>
        <td><%= profesor.titulo %></td>
        <td><%= profesor.fecha_contrato %></td>
        
        <td><%= link_to 'Show', profesor %></td>
        <td><%= link_to 'Edit', edit_profesor_path(profesor) %></td>
        <td><%= link_to 'Destroy', profesor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profesor', new_profesor_path %>
